body { background: #19191f; padding: 0 32px; }
pre, code { font-family: "Roboto Mono", monospace !important; }
code[data-name] {
  display: block;
  position: relative;
  margin: 16px auto;
}
code[data-name]::before {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  content: 'this invisible text has a total length of 80 characters and provides a guideline';
  border-right: 1px #fff2 solid;
  color: transparent;
}
code[data-name]::after {
  content: attr(data-name);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: #aaaaca;
  font-family: "Roboto Mono", monospace;
}